$fontFamily: serif;

$contentBackground: white;
$cardBackground: #efefef;

$primaryColor: #2bbbed;

$cardHeader: #1697a6;
$lineColor: #617d8a;
$postDescription: #159587;
$paragraphColor: #617d8a;

$darkGrayColor: #757575;